.marker-cluster-small {
  background-color: rgba(2, 205, 120, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(12, 237, 179, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(237, 246, 251, 0.71);
}
.marker-cluster-medium div {
  background-color: rgba(19, 146, 255, 0.77);
}

.marker-cluster-large {
  background-color: rgba(237, 246, 251, 0.71);
}
.marker-cluster-large div {
  background-color: rgba(6, 107, 248, 0.91);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: rgba(2, 205, 120);
}
.leaflet-oldie .marker-cluster-small div {
  background-color: rgba(12, 237, 179);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgba(244, 156, 96);
}
.leaflet-oldie .marker-cluster-medium div {
  background-color: rgba(245, 219, 163);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgba(247, 94, 94);
}
.leaflet-oldie .marker-cluster-large div {
  background-color: rgba(244, 122, 122);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
}
.marker-cluster span {
  line-height: 30px;
}